body>header {
    padding: 0;
}

body>main {
    padding: 0;
}

header .logo a {
    background-image: url(logo.svg);
    display: block;
    margin: 0 auto;
    text-indent: -9999px;
    height: 51px;
    width: 50px;
    background-size: cover;
}

.badge {
    font-size: 12px;
    font-weight: bold;
    padding: 3px 15px;
    border-radius: 11px;
    border: 1px solid #aaa;
    margin-left: 5px;
}

.outcome, .verdict {
    font-weight: bold;
}

td.subheader {
    background-color: var(--table-border-color);
}